@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .achievements-title {
    font-weight: bold;
    margin-top: 1rem; /* Adds space above the title */
    font-size: 1.1rem; /* Slightly larger font size */
  }
  
  .achievements-list {
    padding-left: 1.5rem; /* Indent the list */
    list-style-type: disc; /* Default bullet points */
    margin-top: 0.5rem; /* Adds some space above the list */
  }
  
  .achievements-list li {
    margin-bottom: 0.5rem; /* Space between list items */
  }
  
  .link-style {
    color: #3c86a3;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
      color: #3c86a3;
    }
  
    &:active {
      color: #217394;
    }
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  color: #444444;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}

.hero-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Make the canvas fill the container */
.hero-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/* Overlay UI box */
.function-controls {
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 12px;
  border-radius: 8px;
  z-index: 10;
  font-family: sans-serif;
  font-size: 14px;
  width: 250px;
}

.function-controls label {
  display: block;
  margin-bottom: 10px;
}

.function-controls input {
  width: 100%;
  margin-top: 4px;
  padding: 6px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
}

.function-controls button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ffffff22;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.function-controls button:hover {
  background-color: #ffffff44;
}
